




body{
    background:  #151515;
    color: #E6E6E6;
    font-family:monospace;
    
}

.Grid{
    display: grid;
    grid-template-columns: 20%;
}

.custom-select {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border-right-style:solid;
    border-color:  #2121ff;
    
}


.ThemeSelect{
    flex-grow: 1;
    max-height: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
    background: #121212;
    border-color: #020202;
    color: #E6E6E6;
}

.Main-View{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    display: none;
}

.Wide{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
.High{
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

h1{
    font-size: 50px ;
    text-align: center;
    border-bottom-style: solid;
    margin-bottom: 5px;
    border-color: #2121ff;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

h3{
    border-top-style: solid;
    border-color: #2121ff;
    font-size: 60px;
    margin: 5px;
}

p{
    margin-top: 0px;
    font-size: 20px;
}